html {
    background-color: #333;
    color: white;
}

body {
    font-family: Georgia;
    width: 100%;
    margin-top: 0em;
    margin-left: 0em;
}

.content {
    margin:auto;
    width:70%;
    font-size: 1.3vw;
}

h1 {
    color: aqua;
    padding: 1em;
    text-align: center;
    font-size: 5em;
    font-family: Arial;
}

#headerName {
    font-size: 40%;
}

#homeHeader {
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: none;
    position: sticky;
    top: 0;
    width: 100%;
}
  
.navitem {
    float: left;
}

.lastNavItem {
    float: right;
}

/* Navbar links */
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to black on hover */
li a:hover {
    background-color: #111;
    color: white;
}

/* Change the color of the active or current navigation link */
.active {
    background-color: aqua;
    color: black;
}

td {
    text-align: center;
}

fieldset {
    width: 250px;
    float: left;
}

img {
    object-fit: cover;
    width:100%; 
    height: 20vw;
}

.image_descrip {
    margin:auto;
    width:80%
}

.browse_item {
    float:left;
    width:33.33%;
    padding-bottom:20px
}

.item_name {
    text-align:left;
    float:left
}

.item_price {
    text-align:right
}

.image_container {
    margin:auto;
    width:80%
}

.addToCartBtn {
    margin:auto;
    width: 80%;
}

.addToCartSct {
    display: flex;
    justify-content: center;
}

.fine-print {
    font-size: 0.5em;
}

.clear {
    clear: both;
}

footer {
    margin: 1em;
    font-size: 0.75em;
}